:root {
    --accent: #174180;
    --accent-light: #3764a7;
    --pure-white: #fff;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    color: var(--accent-light);
    scroll-behavior: smooth;
}

/*--------------------global-----------------------*/
.section-title {
    text-transform: uppercase;
    text-align: center;
}

.section {
    padding: 60px 0;
}

.container {
    width: 1140px;
    padding: 5px 15px;
    margin: 0 auto;

}

/*------------------------header--------------------------------*/

header a {
    color: #fff;
    text-decoration: none;
}

.header {
    padding: 0 15px;
    background: var(--accent);
    color: #fff;
}

.header-navbar {
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/*--------------logo-------------*/
a {
    margin: 0;
    padding: 0;
    color: var(--accent-light);
}

a span {
    margin: 0;
    padding: 0;
    animation: animate 2s linear infinite;
}

a span:nth-child(1) {
    animation-delay: 0.25s;
}

a span:nth-child(2) {
    animation-delay: 0.5s;
}

a span:nth-child(3) {
    animation-delay: 0.75s;
}

a span:nth-child(4) {
    animation-delay: 1s;
}

a span:nth-child(5) {
    animation-delay: 1.25s;
}

a span:nth-child(6) {
    animation-delay: 1.5s;
}

a span:nth-child(7) {
    animation-delay: 0.25s;
}

a span:nth-child(8) {
    animation-delay: 1.75s;
}


@keyframes animate {

    0%,
    100% {
        color: #fff;
        filter: blur(2px);
        text-shadow: 0 0 10px #0c5e81,
            0 0 10px #00b3ff,
            0 0 20px #00b3ff,
            0 0 40px #00b3ff,
            0 0 80px #00b3ff,
            0 0 120px #00b3ff,
            0 0 200px #00b3ff,
            0 0 300px #00b3ff,
            0 0 400px #00b3ff;
    }

    5%,
    95% {
        color: #222;
        filter: blur(0px);
        text-shadow: none;
    }
}

/*---------------------animotion end----------------------------*/

.header-logo {
    width: 20%;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 1px;
}

.header-menu {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

}

.header-menu-link {
    text-transform: uppercase;
    padding: 15px;
    font-size: 16px;
    line-height: 20px;
    transition: 0.5s;
}

.header-menu-link:hover {
    background-color: var(--accent-light);
}

/*--------------------main---------------------*/
.intro {
    padding: 50px 0;
}

.intro-left {
    width: 27%;
    border-radius: 50%;
    text-align: center;
    transition: 0.5s;

}

.intro-left:hover {
    box-shadow: 0 0 30px 0px var(--accent);
}

.intro-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

.intro-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.intro-rigth {
    padding-left: 20px;
    width: 60%;
}

.intro-rigth h1,
h3 {
    margin: 0 0 15px;
}

.intro-rigth p {
    letter-spacing: 0.5px;

}


/*--------------------contacts---------------------------*/
.contacts {
    margin-bottom: 60px;
}

.contacts ul {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

/*-----------------------skills------------------*/
.skills {
    background-color: var(--accent);
}

.skills-col {
    box-sizing: border-box;
    transition: 0.5s;
}

.skills-col:hover {
    box-shadow: 0 0 20px 0px white;
}

.skills ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 0;
    margin: 0;
    list-style: none
}

.skills li {
    padding: 10px 30px;
    text-align: center;
    border-radius: 4px;
    color: #fff;
    background-color: var(--accent-light);
}

.skills h2 {
    padding-bottom: 20px;
    color: #fff;
}

/*-------------------code---------------------*/
.code {
    text-align: center;

}

.code h2 {
    padding-top: 60px;
    padding-bottom: 0;
}

.code p {
    padding: 15px 0 20px;
}

.code pre {
    font-style: italic;
}

.code b {
    font-style: normal;
}

.code pre {
    width: 70%;
    margin: 0 auto;
    text-align: left;
    background-color: #174180;
    color: antiquewhite;
    border-radius: 4px;
}

/*---------------------portfolio------------------------------*/


/*--------------------languages---------------------------------------*/
.languages {
    background: -webkit-linear-gradient(90deg, #6cff95, #1e524e);
    background: linear-gradient(90deg, #6cff95, #1e524e);
    color: #fff;
}

.languages-col {
    box-sizing: border-box;
}

.languages ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    padding: 0;
    margin: 0;
    list-style: none
}

.languages li {
    padding: 10px 30px;
    text-align: center;
    border-radius: 4px;
    color: #fff;
    background-color: var(--accent-light);
    padding-bottom: 10px;
    margin-bottom: 30px;
}



/*--------------------------footer----------------------------*/
.footer {
    background-color: black;
    padding: 20px;
}

.footer p {
    padding-top: 20px;
    text-align: center;
}

.footer a {
    list-style: none;
    color: #fff;
    padding-left: 5px;
    text-decoration: none;
}
.icons {
    text-align: center;
}
.fa {
    margin: 10px;
}
.icons a {
    color: var(--accent-light);
}